#virtualenv
/venv
#build
/build

#config
/config/config_files/config_prod.ini
/config/config_files/software.txt
/config/sqlite/entries.db


#reports
weblog_triage/reports/
#pychar metadata
.idea/

.pyc
*.pyo
.cpython
__pycache__/
/test/.pytest_cache
